:root {
    --ui-color-background1: #303030;
    --ui-color-background2: #404040;
    --ui-color-form-background: #303030;
    --ui-measure-border-thin: 0.125rem;
    --ui-measure-border-medium: 0.125rem;
    --flowchart-Assign-color1: #e03830;
    --flowchart-Assign-color2: #000000;
    --flowchart-Output-color1: #20a060;
    --flowchart-Output-color2: #000000;
    --flowchart-Input-color1: #e8b810;
    --flowchart-Input-color2: #000000;
    --flowchart-If-color1: #2c94e0;
    --flowchart-If-color2: #000000;
    --flowchart-DoWhile-color1: #8a58cc;
    --flowchart-DoWhile-color2: #000000;
    --flowchart-While-color1: #8a58cc;
    --flowchart-While-color2: #000000;
    --flowchart-For-color1: #ac64c0;
    --flowchart-For-color2: #000000;
    --flowchart-Breakpoint-color1: #f08020;
    --flowchart-Breakpoint-color2: #000000;
    --flowchart-Comment-color2: #ffffff;
    --flowchart-Error-color2: #ff0000;
    --flowchart-Round-color1: #d82888;
    --flowchart-Round-color2: #000000;
    --flowchart-Block-outline-thickness: 1.5;
    --flowchart-Line-selected-color: #ff8020;
}

#settings_tabSelector {
    background: var(--ui-color-background1);
}

#settings_tabSelector>div.selected {
    background: var(--ui-color-background2);
}

#settings div.settings_tab {
    background: var(--ui-color-background2);
}
