:root {
    --ui-color-background1: #ffffff;
    --ui-color-background2: #eeeeee;
    --ui-color-text: #000000;
    --ui-color-border1: #00000040;
    --ui-color-border2: #00000060;
    --ui-color-disabled: #808080;
    --ui-color-form-background: #d0d0d0;
    --ui-color-form-text: #000000;
    --ui-color-form-border: #00000040;
    --ui-color-form-border-selected: #00000080;
    --ui-color-form-disabled: #c0c0c0;
    --flowchart-Assign-color2: #a0a078;
    --flowchart-Assign-color1: #ffffd8;
    --flowchart-Assign-color3: #000000;
    --flowchart-Output-color2: #78a078;
    --flowchart-Output-color1: #d8ffd8;
    --flowchart-Output-color3: #000000;
    --flowchart-Input-color2: #7088a0;
    --flowchart-Input-color1: #d0e8ff;
    --flowchart-Input-color3: #000000;
    --flowchart-If-color2: #a07878;
    --flowchart-If-color1: #ffd8d8;
    --flowchart-If-color3: #000000;
    --flowchart-DoWhile-color2: #a08050;
    --flowchart-DoWhile-color1: #ffe0b0;
    --flowchart-DoWhile-color3: #000000;
    --flowchart-While-color2: #a08050;
    --flowchart-While-color1: #ffe0b0;
    --flowchart-While-color3: #000000;
    --flowchart-For-color2: #a08050;
    --flowchart-For-color1: #ffe0b0;
    --flowchart-For-color3: #000000;
    --flowchart-Breakpoint-color2: #a07878;
    --flowchart-Breakpoint-color1: #ffd8d8;
    --flowchart-Breakpoint-color3: #000000;
    --flowchart-Comment-color2: #808080;
    --flowchart-Comment-color3: #000000;
    --flowchart-Error-color1: #c00000;
    --flowchart-Error-color2: #000000;
    --flowchart-Error-color3: #ffffff;
    --flowchart-Round-color1: #d0e8ff;
    --flowchart-Round-color2: #7088a0;
    --flowchart-Round-color3: #000000;
    --flowchart-Block-outline-thickness: 1.25;
    --flowchart-Block-highlight-color2: #4080ff;
    --flowchart-Line-color: #000000;
    --flowchart-selected-color1: #4080ff;
    --flowchart-scrollbar-color: #00000060;
    --toast-background: #000000c0;
    --toast-color: #ffffff;
}

#bar {
    color: var(--ui-color-text);
}

#bar button[disabled] {
    color: var(--ui-color-text) !important;
    opacity: 0.3;
}

#man {
    background: #ffffff;
}
