:root {
    --browser-theme-color: #ffffff;
    --ui-color-background1: #ffffff;
    --ui-color-background2: #ffffff;
    --ui-color-text: #000000;
    --ui-color-accent1: #000000;
    --ui-color-accent2: #404040;
    --ui-color-border1: #00000040;
    --ui-color-border2: #00000060;
    --ui-color-disabled: #808080;
    --ui-color-form-background: #d0d0d0;
    --ui-color-form-highlighted: #b0b0b0;
    --ui-color-form-text: #000000;
    --ui-color-form-border: #00000040;
    --ui-color-form-border-selected: #00000080;
    --ui-color-form-disabled: #c0c0c0;
    --flowchart-Assign-color2: #000000;
    --flowchart-Assign-color1: transparent;
    --flowchart-Assign-color3: #000000;
    --flowchart-Output-color2: #000000;
    --flowchart-Output-color1: transparent;
    --flowchart-Output-color3: #000000;
    --flowchart-Input-color2: #000000;
    --flowchart-Input-color1: transparent;
    --flowchart-Input-color3: #000000;
    --flowchart-If-color2: #000000;
    --flowchart-If-color1: transparent;
    --flowchart-If-color3: #000000;
    --flowchart-DoWhile-color2: #000000;
    --flowchart-DoWhile-color1: transparent;
    --flowchart-DoWhile-color3: #000000;
    --flowchart-While-color2: #000000;
    --flowchart-While-color1: transparent;
    --flowchart-While-color3: #000000;
    --flowchart-For-color2: #000000;
    --flowchart-For-color1: transparent;
    --flowchart-For-color3: #000000;
    --flowchart-Breakpoint-color2: #000000;
    --flowchart-Breakpoint-color1: transparent;
    --flowchart-Breakpoint-color3: #000000;
    --flowchart-Comment-color2: #000000;
    --flowchart-Comment-color3: #000000;
    --flowchart-Turtle-Move-color1: transparent;
    --flowchart-Turtle-Move-color2: #000000;
    --flowchart-Turtle-Move-color3: #000000;
    --flowchart-Turtle-Turn-color1: transparent;
    --flowchart-Turtle-Turn-color2: #000000;
    --flowchart-Turtle-Turn-color3: #000000;
    --flowchart-Turtle-Home-color1: transparent;
    --flowchart-Turtle-Home-color2: #000000;
    --flowchart-Turtle-Home-color3: #000000;
    --flowchart-Error-color1: #c0c0c0;
    --flowchart-Error-color2: #000000;
    --flowchart-Error-color3: #000000;
    --flowchart-Round-color1: transparent;
    --flowchart-Round-color2: #000000;
    --flowchart-Round-color3: #000000;
    --flowchart-Block-outline-thickness: 1.25;
    --flowchart-Block-highlight-color1: #808080;
    --flowchart-Block-highlight-color2: keep;
    --flowchart-Block-highlight-color3: #ffffff;
    --flowchart-Line-color: #000000;
    --flowchart-Line-selected-color: #a0a0a0;
    --flowchart-selected-color1: #404040;
    --flowchart-selected-color2: #c0c0c0;
    --flowchart-selected-color3: #000000;
    --flowchart-scrollbar-color: #00000060;
    --turtle-color-cursor: #000000;
    --turtle-color-background: #ffffff;
    --turtle-color-foreground: #000000;
    --toast-background: #000000;
    --toast-color: #ffffff;
}

#bar {
    background: #ffffff;
    color: #000000;
}

#bar button[disabled] {
    color: #808080 !important;
}

button.important:hover,
button.important:focus,
button.danger:hover,
button.danger:focus {
    background: #ffffff;
    color: #000000;
}

#settings {
    --ui-color-background1: #ffffff;
    --ui-color-background2: #e0e0e0;
}

#variablesExpander,
#consoleExpander {
    background: #ffffff;
    border: var(--ui-measure-border-medium) solid #000000;
}

#variablesExpander {
    border-left: none;
}

#consoleExpander {
    border-right: none;
}

#man thead {
    background: #c0c0c0;
}

#man_close,
#license_close {
    background: #c0c0c0;
}

#editor2>div:hover {
    background: #c0c0c0;
}
