#flowchartArea {
    position: fixed;
    top: 2.5rem;
    left: var(--layout-variablesArea-width);
    right: var(--layout-consoleArea-width);
    bottom: 0;
    overflow: hidden;
    background: var(--ui-color-background1);
    left: 0;
    right: 0;

    &.variablesExpanded {
        left: var(--layout-variablesArea-width);
    }

    &.consoleExpanded {
        right: var(--layout-consoleArea-width);
    }
}

#editor {
    padding: var(--ui-measure-spacer-medium);

    label {
        font-weight: bold;
        margin-left: 0.15rem;
    }

    #editor_buttons {
        margin-top: var(--ui-measure-spacer-large);
    }

    div.editor_graphics_container {
        display: flex;
        align-items: center;
        margin-bottom: var(--ui-measure-spacer-large);

        div.editor_graphics {
            flex: none;
            margin-right: var(--ui-measure-spacer-large);
        }

        div.editor_graphics_description {
            flex-grow: 1;
            height: fit-content;
            font-size: 0.85rem;
            font-weight: bold;
        }
    }

    div.autoVert {
        gap: var(--ui-measure-spacer-small);
    }

    #editor_Input {
        width: 20rem;
    }

    #editor_Output {
        width: 30rem;
    }

    #editor_Assign {
        width: 30rem;
    }

    #editor_If {
        width: 30rem;
    }

    #editor_DoWhile {
        width: 30rem;
    }

    #editor_While {
        width: 30rem;
    }

    #editor_For {
        width: 30rem;
    }

    #editor_Comment {
        width: 30rem;
    }

    #editor_Breakpoint {
        width: 15rem;
    }

    #editor_Move {
        width: 30rem;
    }

    #editor_Turn {
        width: 30rem;
    }

    #editor_Home {
        width: 20rem;
    }

    #editor_Comment textarea {
        height: 12rem;
    }

    #editor_Move {
        #editor_Move_draw_container {
            display: flex;

            &>* {
                align-self: center;
            }
        }

        #editor_Move_color {
            visibility: hidden;
            flex-grow: 1;
            text-align: right;

            input[type="radio"] {
                appearance: none;
                display: inline-block;
                width: 1.25rem;
                height: 1.25rem;
                border: var(--ui-measure-border-thin) solid var(--ui-color-border1);
                border-radius: 999rem;
                position: relative;

                &:focus {
                    box-shadow: none !important;
                }

                &:checked::after {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 0.35rem;
                    height: 0.35rem;
                    margin: auto;
                    border-radius: 999rem;
                    background: var(--ui-color-background1);
                }

                &:focus:checked::after {
                    border: var(--ui-measure-border-medium) solid var(--ui-color-accent1);
                }
            }
        }

        &:has(#editor_Move_draw:checked) #editor_Move_color {
            visibility: visible;
        }
    }
}

#editor2 {
    padding: var(--ui-measure-spacer-medium);
    width: 8rem;

    .icon {
        font-size: 1.5rem;
        margin-right: var(--ui-measure-spacer-small);
    }

    div {
        padding: var(--ui-measure-spacer-small);
        border-radius: var(--ui-measure-border-radius);
        display: flex;
        align-items: center;

        &:hover {
            background: var(--ui-color-accent1);
            color: var(--ui-color-text-accent);
        }
    }
}

#insertWide,
#insertTall {
    box-sizing: content-box;
    padding: 0 var(--ui-measure-spacer-small);
}
