div.window {
    display: none;
    position: fixed;
    z-index: 199;
    background: var(--ui-color-background2);
    border: var(--ui-measure-border-thick) solid var(--ui-color-accent1);
    border-top: none;
    outline: var(--ui-measure-border-thin) solid var(--ui-color-border1);
    border-radius: var(--ui-measure-border-radius);
    overflow: hidden;

    &.visible {
        display: block;
    }

    &>div.window_bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2.5rem;
        background: var(--ui-color-accent1);
        display: flex;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        padding: 0 var(--ui-measure-spacer-small);

        * {
            color: var(--ui-color-text-accent);
        }

        &>div.window_title {
            flex-grow: 1;
        }

        &>div.window_buttons {
            margin-left: auto;
        }
    }

    &>div.window_contents {
        position: absolute;
        top: 2.5rem;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
